/* =========================================== */
/* ========== Вспомогательные стили ========== */
/* =========================================== */
header,
main {
  min-block-size: 100vh;
}


/* =========================================== */
/* ================ Skip Link ================ */
/* =========================================== */
.skipLink {
  position: absolute;
  inset-inline-start: -999px;

  background: #fff;
}

.skipLink:focus {
  inset-inline-start: unset;
}