* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-block-size: 100vh;
  padding: 100px 25px;
}

.drago {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 50px;
  block-size: 50px;

  background: #ccc;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;

  /* Предотвращение перехвата браузером Drag-n-Drop события, которое
  наступает при перемещении <img> и некоторых других элементов
  с помощью сенсорного экрана */
  touch-action: none;
}

.dragArea {
  inline-size: 100%;
  block-size: 400px;

  border: 1px solid #000;
}