/* ============================================ */
/* ================ СЛУЖЕБНОЕ ================= */
/* ============================================ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.placeholder-70 {
  padding-block-end: 70%;
  margin-block-end: 20px;

  background: #ccc;
}