.header__logo {
  position: relative;
  
  display: flex;
  justify-content: center;

  padding: 20px;
}

.header__navBtn {
  position: absolute;

  display: block;
  inset-block-start: 50%;
  inset-inline-end: 20px;
  transform: translateY(calc(-50% + 0.5px));
}



/* Only mobile */
@media (max-width: 767px) {
  .header__logo {
    border-block-end: 1px solid #ececec;
  }

  .noJS .header__navBtn {
    display: none;
  }
}



/* Desktop */
@media (min-width: 767px) {
  .header {
    display: flex;
    justify-content: space-between;

    border-block-end: 1px solid #ececec;
  }

  .navBtn {
    display: none;
  }
}