.thumbs {
  display: flex;
  justify-content: center;
  background: var(--thumbsBg);
}

.thumbs__list {
  display: flex;
  margin: 0;
  padding: 3px;
  
  list-style: none;
}

.thumbs__item {
  display: flex;
  inline-size: 75px;
  block-size: 50px;

  margin-inline-end: 3px;
}

.thumbs__item--active {
  position: relative;
}

.thumbs__item--active::before {
  content: "";
  position: absolute;
  inset: 0;

  border: 2px solid #11B1E7;
}

.thumbs__btn {
  padding: 0;

  border: none;
  cursor: pointer;
}

.thumbs__img {
  display: block;
  inline-size: 100%;
  block-size: 100%;

  object-fit: cover;
}