.field {
  position: relative;
  z-index: 0;

  display: inline-block;
}

.field__input {
  padding: 15px;
  
  border: none;
  outline: none;
}

.field__label {
  position: absolute;
  inset-inline-start: 15px;
  inset-block-start: 50%;
  transform: translateY(-50%);

  cursor: text;
  transition: 0.1s;
}

.field__input:focus ~ .field__label,
.field--filled .field__label {
  inset-block-start: 0;
  inset-inline-start: calc(15px + 4px);

  font-size: 0.8em;
}

.field__input:disabled ~ .field__label {
  color: #888;
}

.field__input:focus ~ .field__label {
  color: #1976d2;
}

.field__fieldset {
  position: absolute;
  inset: -0.5em 0 0;

  padding: 0;

  border: 1px solid rgb(0 0 0 / 0.23);
  border-radius: 4px;
  pointer-events: none;
}

.field__input:not(:disabled):hover ~ .field__fieldset {
  border-color: rgb(0 0 0 / 0.87)
}

.field__input:focus ~ .field__fieldset,
.field__input:focus:hover ~ .field__fieldset {
  border: 2px solid #1976d2;
}

.field__legend {
  inline-size: 0.01px;
  padding: 0;
  
  visibility: hidden;
}

.field:focus-within .field__legend,
.field--filled .field__legend {
  inline-size: auto;
  margin-inline-start: 10px;
  padding: 0 5px;

  font-size: 0.8em;
}