/* ============================================ */
/* ================ СЛУЖЕБНОЕ ================= */
/* ============================================ */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



/* ============================================ */
/* ============== БОКОВАЯ ПАНЕЛЬ ============== */
/* ============================================ */
.sidenav__list {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: -100%;

  inline-size: 280px;
  block-size: 100vh;
  margin: 0;
  padding: 15px;

  background-color: #fff;
  overflow-y: auto;
  list-style: none;
  transition: inset-inline-start 0.2s;
}

.body--withModal .sidenav__list {
  inset-inline-start: 0;
}

.sidenav__link {
  display: block;
  padding-block: 15px;

  text-decoration: none;
}