/* РАЗНОЕ СЛУЖЕБНОЕ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body { 
  overflow-y: scroll;
}

/* Отключение прокрутки у тега <body> */
.modalOpened {
  overflow-y: hidden;
}

.placeholder-70vh {
  block-size: 70vh;

  background: #ccc;
}



/* МОДАЛЬНОЕ ОКНО */
.modal {
  position: fixed;
  inset: 0;
  z-index: 1;

  display: none;
  
  overflow-y: scroll;
}

.modal--opened {
  display: block;
}

/* 
 * Фон, которая будет ловить нажатия
 * Нельзя использовать сам ".modal", так как он "fixed" и при нажатии 
 * на скролл тоже происходит клик
*/
.modal__backdrop {
  display: flex;
  min-block-size: 100vh;
  padding: 20px;

  background: rgba(0, 0, 0, 0.6);
}

.modal__content {
  inline-size: 100%;
  max-inline-size: 600px;
  padding: 20px;
  margin: auto;

  background: #fff;
}