/* РАЗНОЕ СЛУЖЕБНОЕ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.placeholder-70vh {
  block-size: 70vh;
  margin-block-end: 20px;

  background: #ccc;
}

/* Отключение прокрутки у тега <body> */
body { 
  overflow-y: scroll;
}

.modalOpened {
  overflow-y: hidden;
}



/* МОДАЛЬНОЕ ОКНО */
.modal {
  position: fixed;
  inset: 0;
  z-index: 1;

  display: none;
  padding: 20px;
  
  background: rgba(0, 0, 0, 0.6);
  overflow-y: scroll;
}

.modal--opened {
  display: flex;
}

.modal__content {
  inline-size: 100%;
  max-inline-size: 600px;
  padding: 20px;
  margin: auto;

  background: #fff;
}