/* РАЗНОЕ СЛУЖЕБНОЕ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.placeholder-70 {
  padding-block-end: 70%;
  margin-block-end: 20px;

  background: #ccc;
}



/* Отключение прокрутки у тега <body> */
body {
  overflow-y: scroll;
}

.modalOpened {
  padding-inline-end: 17px;
  overflow: hidden;
}



/* МОДАЛЬНОЕ ОКНО */
.modal {
  position: fixed;
  inset: 0;
  z-index: 3;

  display: flex;
  padding: 10px;

  background: rgba(0, 0, 0, 0.6);
  overflow-y: scroll;
}

.modal--hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.modal__content {
  inline-size: 100%;
  max-inline-size: 600px;
  padding: 20px;
  margin: auto;

  background: #fff;
}