*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  inline-size: 50px;
  block-size: 50px;
  
  vertical-align: middle;

  fill: #f90;
  border-radius: 50%;
  border: 2px solid black;
}