/* ================================================================= */
/* ========== СТИЛИЗАЦИЯ КАРТИНКИ, КОТОРАЯ НЕ ЗАГРУЗИЛАСЬ ========== */
/* ================================================================= */
img {
  /* Картинка - относительная для псевдоэлементов */
  position: relative;

  /* Стилизация текста для псевдоэлементов */
  font-family: "Arial", sans-serif;
  color: #000;
}

img::after {
  content: attr(src) " — Изображение не загрузилось";;
  
  display: block;
}