@media (min-width: 0) and (max-width: 600px) {
  .carousel__item {
    display: none;
  }

  .carousel__item--visible {
    display: block;
  }
}


@media (min-width: 600px) {
  .carousel__buttons {
    display: none;
  }
}