@import url("base/base.css");
@import url("blocks/carousel.css");
@import url("blocks/slides.css");
@import url("blocks/thumbs.css");
@import url("blocks/slideBtn.css");


/*  Body имитирует контейнер, в который будет вставляться "carousel"  */
body {
  inline-size: 565px;
  block-size: 400px;
  margin-inline: auto;
  margin-block: 50px 0;

  overflow-y: scroll
}