/* ============================================ */
/* === ТОЛЬКО ДЛЯ ТЕКУЩЕЙ ДЕМОНСТРАЦИИ ======== */
/* ============================================ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Постоянная полоса прокрутки у <body> */
body {
  overflow-y: scroll;
}

.placeholder-70 {
  padding-block-end: 70%;
  margin-block-end: 20px;

  background: #ccc;
}

.srOnly {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}



/* ============================================ */
/* =================== BODY =================== */
/* ============================================ */
/* При открытии модального окна, для устройств с точным указателем (Desktop) */
/* ...скрывать полосу прокрутки, но добавлять padding = 17px (ширина полосы) */
@media (pointer: fine) {
  .modalIsOpen {
    padding-inline-end: 17px;
    overflow: hidden;
  }
}



/* ============================================ */
/* ============= МОДАЛЬНОЕ ОКНО =============== */
/* ============================================ */
/* Стилизация открытого модального окна */
.openedModal {
  position: fixed;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  
  inline-size: 90%;
  max-inline-size: 600px;
  max-block-size: 95%;
  padding: 20px;
  margin: auto;

  background: #fff;
  overflow-y: auto;
}



/* ============================================ */
/* ================ ПОДЛОЖКА ================== */
/* ============================================ */
.modalUnderlay {
  position: fixed;
  inset: 0;
  z-index: 2;

  display: none;
  padding: 10px;

  background: rgba(0, 0, 0, 0.6);
  overflow-y: scroll;
}

.modalIsOpen .modalUnderlay {
  display: block;
}