/* TOGGLE  (toggle) */
.Toggle {
  position: relative;
  
  display: inline-flex;
  align-items: center;

  /* Чтобы при недостатке места "toggle" оставался виден, разрешить перенос Flex */
  flex-wrap: wrap;

  /* Отступ между переключаетелем и текстом */
  gap: 1ch;
}


/* TOGGLE__DISPLAY  (track) */
.Toggle__display {
  --offset: 0.25em;
  --diameter: 1.8em;

  /*  */
  display: inline-flex; /* 1 */
  align-items: center; /* 1 */
  justify-content: space-around; /* 1 */

  /* Размер трэка расчитывается на основании размера ползунка */
  /* Ширина = две ширины ползунка + 2 ширины отступа от трэка */
  width: calc(var(--diameter) * 2 + var(--offset) * 2); /* 2 */
  /* Высота = высота ползунка + 2 высоты отступа от трэка  */
  height: calc(var(--diameter) + var(--offset) * 2); /* 2 */
  box-sizing: content-box; /* 2 */

  /* Полупрозрачная рамка, чтобы хорошо было видно в доступном режиме высокой контрастности */
  border: 0.1em solid rgb(0 0 0 / 0.2); /* 3 */

  /* Относительное позиционирование для абсолютного ползунка */
  position: relative; /* 4 */

  /* Скругление для  */
  border-radius: 100vw; /* 5 */

  /* Цвет фона для элемента, который по умолчанию отключён */
  background-color: #fbe4e2; /* 6 */

  transition: 250ms;
  cursor: pointer;
}


/* Toggle__display::before  (thumb)  */
.Toggle__display::before {
  content: '';

  /* Размер ползунка берётся из кастомного свойства "диаметр" */
  width: var(--diameter); /* 1 */
  height: var(--diameter); /* 1 */
  border-radius: 50%; /* 1 */

  box-sizing: border-box; /* 2 */
  border: 1px solid rgb(0 0 0 / 0.2); /* 2 */

  /* Абсолютное позиционирование выше других */
  /* Центр по ветрикали */
  /* Смещение слева сбоку */
  position: absolute; /* 3 */
  z-index: 2; /* 3 */
  top: 50%; /* 3 */
  left: var(--offset); /* 3 */
  transform: translate(0, -50%); /* 3 */

  /* Заливка ползунка, чтобы скрыть иконки под ним */
  background-color: #fff; /* 4 */
  transition: inherit;
}


/* INPUT FOCUSED */
.Toggle__input:focus-visible + .Toggle__display {
  outline: 1px dotted #212121; /* 1 */
  outline: 1px auto -webkit-focus-ring-color; /* 1 */
}

.Toggle__input:focus:not(:focus-visible) + .Toggle__display {
  outline: 0; /* 1 */
}


/* INPUT CHECKED */
.Toggle__input:checked + .Toggle__display {
  background-color: #e3f5eb; /* 1 */
}

.Toggle__input:checked + .Toggle__display::before {
  transform: translate(100%, -50%); /* 1 */
}


/* INPUT DISABLED */
.Toggle__input:disabled + .Toggle__display {
  opacity: 0.6; /* 1 */
  filter: grayscale(40%); /* 1 */
  cursor: not-allowed; /* 1 */
}


/* SRONLY */
.srOnly {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}