.button {
  all: unset;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-inline-size: 44px;
  padding: 10px;

  font-family: inherit;
  font-size: 14px;
  text-align: center;

  border-radius: 5px;
  box-sizing: border-box;

  cursor: pointer;
}

.button--primary {
  color: var(--color-white);

  background-color: var(--color-primary);
}

.button--primary:hover {
  background-color: var(--color-primary-hover);
}

.button--ghost {
  color: var(--color-black);

  background-color: none;
  border: 1px solid var(--color-gray);
}

.button--ghost:hover {
  background-color: var(--color-gray);
}

.button__arrow {
  inline-size: 6px;
  block-size: 12px;
}

.button__arrow--down {
  transform: rotate(90deg);
}