.thumbs {
  background: rgb(0 0 0 / 0.8);
}

.thumbs__list {
  display: flex;
  justify-content: center;
  gap: 3px;
  block-size: 100%;
  margin: 0;
  padding: 3px;
  
  list-style: none;
}

.thumbs__item {
  
}

.thumbs__btn {
  block-size: 100%;
  padding: 0;

  border: none;
  cursor: pointer;
}

.thumbs__img {
  display: block;
  inline-size: 100%;
  block-size: 100%;

  object-fit: cover;
}