.slides {
  block-size: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slides__item {
  display: none;
  block-size: 100%;
}

.slides__item--visible {
  display: block;
}

.slides__img {
  display: block;
  inline-size: 100%;
  block-size: 100%;

  object-fit: cover;
}