.thumbs {
  display: flex;
  justify-content: center;
  gap: 3px;
  
  margin: 0;
  padding: 3px 3px 0 3px;

  list-style: none;
  background: rgb(0, 0, 0, 0.8);
}

.thumbs__item {
  position: relative;
  
  inline-size: 75px;
  block-size: 50px;
}

.thumbs__item--active::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  border: 2px solid #00afea;
}

.thumbs__btn {
  block-size: 100%;
  padding: 0;

  background: none;
  border: none;
  cursor: pointer;
}

.thumbs__img {
  inline-size: 100%;
  block-size: 100%;

  object-fit: cover;
}

.thumbs__text {
  font-size: 0;
}