/* ============================================ */
/* ================ СЛУЖЕБНОЕ ================= */
/* ============================================ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.placeholder-50 {
  block-size: 50vh;
  margin-block: 20px;

  background: #ccc;
}


/* Постоянная полоса прокрутки у <body> */
body {
  overflow-y: scroll;
}