.nav {
  display: none;

  border: 1px solid red;
}

.nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav--opened {
  position: absolute;
  inset-block-start: 100%;
  inset-inline-end: 0;
  
  display: block;
}