.field {
  display: block;
}

.field__label {
  margin: 0;
}

.field__control {
  position: relative;
  
  inline-size: 100%;
  margin: 0;
}

.field__input {
  inline-size: 100%;
  padding: 16px;
}

.field__input::placeholder {
  font-size: 15px;
  color: rgba(68, 68, 68, 0.4);
}

.field__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.field__input--textarea {
  display: block;
  inline-size: 100%;
  min-height: 140px;
}