.option {
  display: inline-flex;
  align-items: center;

  vertical-align: middle;
}

.option__mark {
  position: relative;

  flex-shrink: 0;
  display: inline-block;
  inline-size: 40px;
  height: 40px;
  margin-right: 20px;

  vertical-align: middle;

  border: 2px solid #000;
}

.option__mark--radio {
  border-radius: 50%;
}

.option__input:hover + .option__mark,
.option__input:focus + .option__mark {
  border-color: #56c3b2;
}

.option__input:checked + .option__mark--radio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  inline-size: 40%;
  height: 40%;

  background: #56c3b2;
  border-radius: 50%;
}

.option__input:checked + .option__mark--checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%) rotate(-45deg);

  inline-size: 65%;
  height: 25%;

  border-left: 2px solid #56c3b2;
  border-bottom: 2px solid #56c3b2;
}


/* Чтобы в Chrome при клике на элементы они не мигали, при наведении 
на линию стилизовать курсор под "палец" только, когда используется 
hover-указатель (hover: hover) */
@media (hover: hover) {
  .option {
    cursor: pointer;
  }
}
