body {
  inline-size: 300px;

  border: 1px solid #000;
}

/* ========================================================================== */
/* =============================== ПАРАМЕТРЫ ================================ */
/* ========================================================================== */
.toggle {
  /* ПАРАМЕТРЫ ТРЭКА */
  --trackSize: calc(var(--thumbSize) * 2);
  --trackPadding: 2px;
  --trackColor-inactive: #cccccc;
  --trackColor-active: #8ab82e;

  /* ПАРАМЕТРЫ ПОЛЗУНКА */
  --thumbSize: 2rem;
  --thumbColor: #fff;
}


/* ========================================================================== */
/* ================================ СТИЛИ =================================== */
/* ========================================================================== */
.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2ch;

  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.toggle__track {
  appearance: none;

  inline-size: var(--trackSize);
  block-size: var(--thumbSize);
  padding: var(--trackPadding);

  flex-shrink: 0;

  background: var(--trackColor-inactive);
  border: none;
  border-radius: var(--trackSize);
  outline-offset: 5px;
  box-sizing: content-box;
  
  cursor: pointer;
}

.toggle__track::before {
  content: "";
  display: block;
  inline-size: var(--thumbSize);
  block-size: var(--thumbSize);

  background: var(--thumbColor);
  border: 2px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;

  transform: translateX(0%);
  transition: transform 0.25s ease;
} 

.toggle__track:checked {
  background-color: var(--trackColor-active);
}

.toggle__track:checked::before {
  transform: translateX(calc(var(--trackSize) - 100%));
}

.toggle__track:disabled {
  cursor: not-allowed;
}

.toggle__track:disabled::before {
  background: transparent;
  border-color: #ffffff90;
  cursor: not-allowed;
}