div {
  position: relative;

  inline-size: 200px;
  block-size: 200px;

  border: 1px solid #000;
  border-radius: 50%;
}

div::before {
  content: "";
  position: absolute;

  inline-size: 100%;
  block-size: 100%;

  transform: scale(0, 0);
  background: red;
  border-radius: 50%;  
}

div:hover::before {
  transform: scale(1, 1);
  opacity: 0;

  transition:
    transform 0.2s,
    opacity 0.25s 0.1s;
}